
#header{
    border:2px solid blue;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 40px;
    width:800px;
    margin: 0 auto;
    text-align: center;

}

#header-div{
    margin: 30px;
}

#mapText{
    border:2px solid darkslategrey;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 10px;
    margin-left: 200px;
    margin-top: 10px;
}
 #map{
    border:2px solid darkred;
    width: fit-content;
    margin-top: 10px;
}


#linked{
    margin: 10px;


}
#detail{
    margin: 10px;
    align-content: center;
}

.wrapper{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}
.flex_container{
    background-color: rgb(250,250,250);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center_container{
    background-color: rgb(250,250,250);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper_row{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

